<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предсказание результатов игры</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        select, button { margin: 10px; padding: 10px; width: calc(100% - 20px); box-sizing: border-box; }
        pre { background-color: #f0f0f0; padding: 10px; border-radius: 5px; margin: 10px; }
        h2, h3 { margin-left: 10px; }
        @media (max-width: 600px) {
            select, button { margin: 10px 5%; padding: 10px; width: calc(90% - 20px); }
            pre, h2, h3 { margin: 10px 5%; }
        }
    </style>
</head>
<body>

    <h2>Выберите команды</h2>
    
    <select id="homeTeam">
        <option value="Los Angeles Lakers (cyber)">Los Angeles Lakers (cyber)</option>
        <option value="Boston Celtics (cyber)">Boston Celtics (cyber)</option>
        <option value="Milwaukee Bucks (cyber)">Milwaukee Bucks (cyber)</option>
        <option value="Golden State Warriors (cyber)">Golden State Warriors (cyber)</option>
        <option value="Denver Nuggets (cyber)">Denver Nuggets (cyber)</option>
        <option value="Cleveland Cavaliers (cyber)">Cleveland Cavaliers (cyber)</option>
        <option value="Philadelphia 76ers (cyber)">Philadelphia 76ers (cyber)</option>
        <option value="Atlanta Hawks (cyber)">Atlanta Hawks (cyber)</option>
        <option value="Minnesota Timberwolves (cyber)">Minnesota Timberwolves (cyber)</option>
        <option value="Memphis Grizzlies (cyber)">Memphis Grizzlies (cyber)</option>
        <option value="Los Angeles Clippers (cyber)">Los Angeles Clippers (cyber)</option>
        <option value="Miami Heat (cyber)">Miami Heat (cyber)</option>
        <option value="New York Knicks (cyber)">New York Knicks (cyber)</option>
        <option value="Phoenix Suns (cyber)">Phoenix Suns (cyber)</option>
        <option value="Brooklyn Nets (cyber)">Brooklyn Nets (cyber)</option>
        <option value="Sacramento Kings (cyber)">Sacramento Kings (cyber)</option>
    </select>

    <select id="awayTeam">
        <option value="Los Angeles Lakers (cyber)">Los Angeles Lakers (cyber)</option>
        <option value="Boston Celtics (cyber)">Boston Celtics (cyber)</option>
        <option value="Milwaukee Bucks (cyber)">Milwaukee Bucks (cyber)</option>
        <option value="Golden State Warriors (cyber)">Golden State Warriors (cyber)</option>
        <option value="Denver Nuggets (cyber)">Denver Nuggets (cyber)</option>
        <option value="Cleveland Cavaliers (cyber)">Cleveland Cavaliers (cyber)</option>
        <option value="Philadelphia 76ers (cyber)">Philadelphia 76ers (cyber)</option>
        <option value="Atlanta Hawks (cyber)">Atlanta Hawks (cyber)</option>
        <option value="Minnesota Timberwolves (cyber)">Minnesota Timberwolves (cyber)</option>
        <option value="Memphis Grizzlies (cyber)">Memphis Grizzlies (cyber)</option>
        <option value="Los Angeles Clippers (cyber)">Los Angeles Clippers (cyber)</option>
        <option value="Miami Heat (cyber)">Miami Heat (cyber)</option>
        <option value="New York Knicks (cyber)">New York Knicks (cyber)</option>
        <option value="Phoenix Suns (cyber)">Phoenix Suns (cyber)</option>
        <option value="Brooklyn Nets (cyber)">Brooklyn Nets (cyber)</option>
        <option value="Sacramento Kings (cyber)">Sacramento Kings (cyber)</option>
    </select>

    <button onclick="getPrediction()">Получить предсказание</button>
    <button onclick="getTeamStats()">Получить статистику</button>

    <h3>Прогноз результатов игры:</h3>
    <pre id="predictionResponse"></pre>

    <h3>Статистика по играм:</h3>
    <pre id="statsResponse"></pre>

    <script>
        function getPrediction() {
            const homeTeam = document.getElementById('homeTeam').value;
            const awayTeam = document.getElementById('awayTeam').value;

            const data = { homeTeam: homeTeam, awayTeam: awayTeam };

            fetch('http://18.233.168.123:5000/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                let formattedResponse = '';
                data.forEach(item => {
                    const key = Object.keys(item)[0]; 
                    const value = item[key]; 
                    formattedResponse += `${key}: ${value}\n`; 
                });

                document.getElementById('predictionResponse').textContent = formattedResponse; 
            })
            .catch((error) => {
                console.error('Ошибка:', error);
                document.getElementById('predictionResponse').textContent = 'Ошибка: ' + error;
            });
        }

        function getTeamStats() {
            const homeTeam = document.getElementById('homeTeam').value;
            const awayTeam = document.getElementById('awayTeam').value;

            const data = { homeTeam: homeTeam, awayTeam: awayTeam };

            fetch('http://18.233.168.123:5000/team_stats', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                let formattedResponse = '';
                // Добавьте обработку данных статистики и формирование строки для вывода в pre
                formattedResponse += JSON.stringify(data, null, 2);
                document.getElementById('statsResponse').textContent = formattedResponse; 
            })
            .catch((error) => {
                console.error('Ошибка:', error);
                document.getElementById('statsResponse').textContent = 'Ошибка: ' + error;
            });
        }
    </script>

</body>
</html>
