<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предсказание результатов игры</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        select, button { margin: 10px; padding: 10px; width: calc(100% - 20px); box-sizing: border-box; }
        pre { background-color: #f0f0f0; padding: 10px; border-radius: 5px; margin: 10px; }
        h2, h3 { margin-left: 10px; }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        @media (max-width: 600px) {
            select, button { margin: 10px 5%; padding: 10px; width: calc(90% - 20px); }
            pre, h2, h3 { margin: 10px 5%; }
        }
    </style>
</head>
<body>

    <h2>Выберите команды</h2>
    
    <select id="homeTeam">
        <option value="Los Angeles Lakers (cyber)">Los Angeles Lakers (cyber)</option>
        <option value="Boston Celtics (cyber)">Boston Celtics (cyber)</option>
        <option value="Milwaukee Bucks (cyber)">Milwaukee Bucks (cyber)</option>
        <option value="Golden State Warriors (cyber)">Golden State Warriors (cyber)</option>
        <option value="Denver Nuggets (cyber)">Denver Nuggets (cyber)</option>
        <option value="Cleveland Cavaliers (cyber)">Cleveland Cavaliers (cyber)</option>
        <option value="Philadelphia 76ers (cyber)">Philadelphia 76ers (cyber)</option>
        <option value="Atlanta Hawks (cyber)">Atlanta Hawks (cyber)</option>
        <option value="Minnesota Timberwolves (cyber)">Minnesota Timberwolves (cyber)</option>
        <option value="Memphis Grizzlies (cyber)">Memphis Grizzlies (cyber)</option>
        <option value="Los Angeles Clippers (cyber)">Los Angeles Clippers (cyber)</option>
        <option value="Miami Heat (cyber)">Miami Heat (cyber)</option>
        <option value="New York Knicks (cyber)">New York Knicks (cyber)</option>
        <option value="Phoenix Suns (cyber)">Phoenix Suns (cyber)</option>
        <option value="Brooklyn Nets (cyber)">Brooklyn Nets (cyber)</option>
        <option value="Sacramento Kings (cyber)">Sacramento Kings (cyber)</option>
    </select>

    <select id="awayTeam">
        <option value="Los Angeles Lakers (cyber)">Los Angeles Lakers (cyber)</option>
        <option value="Boston Celtics (cyber)">Boston Celtics (cyber)</option>
        <option value="Milwaukee Bucks (cyber)">Milwaukee Bucks (cyber)</option>
        <option value="Golden State Warriors (cyber)">Golden State Warriors (cyber)</option>
        <option value="Denver Nuggets (cyber)">Denver Nuggets (cyber)</option>
        <option value="Cleveland Cavaliers (cyber)">Cleveland Cavaliers (cyber)</option>
        <option value="Philadelphia 76ers (cyber)">Philadelphia 76ers (cyber)</option>
        <option value="Atlanta Hawks (cyber)">Atlanta Hawks (cyber)</option>
        <option value="Minnesota Timberwolves (cyber)">Minnesota Timberwolves (cyber)</option>
        <option value="Memphis Grizzlies (cyber)">Memphis Grizzlies (cyber)</option>
        <option value="Los Angeles Clippers (cyber)">Los Angeles Clippers (cyber)</option>
        <option value="Miami Heat (cyber)">Miami Heat (cyber)</option>
        <option value="New York Knicks (cyber)">New York Knicks (cyber)</option>
        <option value="Phoenix Suns (cyber)">Phoenix Suns (cyber)</option>
        <option value="Brooklyn Nets (cyber)">Brooklyn Nets (cyber)</option>
        <option value="Sacramento Kings (cyber)">Sacramento Kings (cyber)</option>
    </select>

    <button onclick="getPrediction()">Получить предсказание</button>
    <button onclick="getTeamStats()">Получить статистику</button>
    <select id="operand">
        <option value="home">Home Score</option>
        <option value="away">Away Score</option>
        <option value="totalScores">Total Score</option>
    </select>
    <input type="number" step="0.01" id='score' placeholder='Введите число' style="margin-left: 20px;">
    <button onclick="getInputStats()">Получить статистику</button>

    <h3>Прогноз результатов игры:</h3>
    <pre id="predictionResponse"></pre>

    <h3>Статистика по играм:</h3>
    <pre id="statsResponse"></pre>

    <h3>Статистика по введенному значению:</h3>
    <pre id="inputStatsResponse"></pre>

    <script>
        function getPrediction() {
            const homeTeam = document.getElementById('homeTeam').value;
            const awayTeam = document.getElementById('awayTeam').value;

            const data = {
                homeTeam: homeTeam,
                awayTeam: awayTeam,
            };

            fetch('http://18.233.168.123:5000/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                displayStatsAsTable(data, 'predictionResponse');
            })
            .catch((error) => {
                console.error('Ошибка:', error);
                document.getElementById('predictionResponse').textContent = 'Ошибка: ' + error;
            });
        }

            function getTeamStats() {
        const homeTeam = document.getElementById('homeTeam').value;
        const awayTeam = document.getElementById('awayTeam').value;

        const data = { homeTeam: homeTeam, awayTeam: awayTeam };

        fetch('http://18.233.168.123:5000/team_stats', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            displayStatsAsTable(data, 'statsResponse');
        })
        .catch((error) => {
            console.error('Ошибка:', error);
            document.getElementById('statsResponse').textContent = 'Ошибка: ' + error;
        });
    }

    function getInputStats() {
        const homeTeam = document.getElementById('homeTeam').value;
        const awayTeam = document.getElementById('awayTeam').value;
        const operand = document.getElementById('operand').value;
        const value = document.getElementById('score').value;

        const data = { homeTeam: homeTeam, awayTeam: awayTeam, operand: operand, value: value };

        fetch('http://18.233.168.123:5000/input_stats', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            displayStatsAsTable(data, 'inputStatsResponse');
        })
        .catch((error) => {
            console.error('Ошибка:', error);
            document.getElementById('inputStatsResponse').textContent = 'Ошибка: ' + error;
        });
    }

    function displayStatsAsTable(data, elementId) {
        const statsContainer = document.getElementById(elementId);
        let table = '<table>';
        table += '<thead><tr><th>Показатель</th><th>Значение</th></tr></thead>';
        table += '<tbody>';

        data.forEach(item => {
            const key = Object.keys(item)[0]; // Получаем ключ (название статистики)
            const value = item[key]; // Получаем значение статистики
            table += `<tr><td>${key.replace(/_/g, ' ')}</td><td>${value}</td></tr>`;
        });

        table += '</tbody></table>';
        statsContainer.innerHTML = table;
    }
</script>

</body>
</html>
